@import url(https://fonts.googleapis.com/css?family=Lato:900,600,400,300);

body {
    color: #333;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    margin: 2em 0;
}

a {
    border-bottom: solid 1px rgba(0, 68, 221, 0.2);
    color: rgb(0, 68, 221);
    text-decoration: inherit;
}

.header {
    margin-top: 8em;
    margin-bottom: 2em;
    padding: .75em 1.25em;
    text-align: center;
}

.header_logo {
    font-size: 60px;
}

.header_logo_cursor {
    font-size: 1.1em;
    position: relative;
    top: -0.05em;
    opacity: 1;
    transition: opacity 200ms;
}

.header_logo_cursor__hidden {
    opacity: 0;
    transition: opacity 200ms;
}

.header_tabs {
    font-size: 30pt;
    margin-top: 0.5em;
}

.header_tabs_tab {
    display: inline;
    margin-left: 2em;
}

.header_tabs_tab_note {
    font-weight: 600;
    margin-left: .5em;
}

.header_questions {
    font-size: 30px;
    line-height: 1.5em;
    margin-top: 3em;
}

.login {
    margin: 2.5em auto auto;
    width: 50%;
}

.login_button {
    font-size: 25px;
    padding: 1em;
}

.login_button__runkeeper {
    background: rgba(54, 190, 202, 0.75);
    transition: background 1s;
}

.login_button__runkeeper:hover {
    background: rgba(54, 190, 202, 1.0);
    transition: background 1s;
}

.login_button__strava {
    background: rgba(250, 78, 31, 0.75);
    transition: background 1s;
}

.login_button__strava:hover {
    background: rgba(250, 78, 31, 1.0);
    transition: background 1s;
}

.login_link {
    border: none;
    color: #fff;
}

.login_link_name {
    display: block;
    font-size: 45px;
}

.footer {
    line-height: 1.75em;
    margin-top: 10em;
    text-align: center;
}

.pace_chart {
    width: 100%;
}

.highlight_area {
    opacity: 1;
    fill: rgba(245, 245, 245, 0.5);
    transition: opacity 250ms;
}

.highlight_area__hidden {
    opacity: 0;
    transition: opacity 250ms;
}

.volume_area {
    fill: #eef;
}

.avg_pace {
    fill: none;
    stroke: rgb(0, 68, 221);
    stroke-width: 2px;
}

.avg_pace_label {
    fill: rgb(0, 68, 221);
    font-size: 0.9em;
}

.avg_pace_value {
    fill: rgb(0, 68, 221);
}

.min_pace {
    fill: none;
    stroke: #f66;
    stroke-width: 2px;
}

.min_pace_label {
    fill: #f66;
    font-size: 0.9em;
}

.min_pace_value {
    fill: #f66;
}