@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    font-weight: 300;
    margin: 5em 10em;
}

.header {
    text-align: center;
}

.header_title {
    font-size: 32pt;
}

.header_subtitle {
    font-size: 24pt;
}

.header_cta {
    font-size: 16pt;
    margin-top: 3em;
}

.footer {
    margin-top: 3em;
    text-align: center;
}

.footer_link {
    color: #666;
    margin: .5em;
    text-decoration: none;
}

.footer_link:hover {
    color: #444;
}

.avatar {
    line-height: 125px;
    text-align: right;
}

.avatar-image {
    border-radius: 50%;
    border-style: solid;
    border-width: 0;

    height: 75px;
    width: 75px;

    vertical-align: middle;
}

.name-block {
    font-size: 20pt;
    line-height: 120px;
}

.name {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.pure-g-pad > div > * {
    margin-left: 1rem;
    margin-right: 1rem;
}

.chart {
    border: solid 1px #eee;
}