@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300);

body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    font-weight: 300;
    margin: 2em 0;
}

.header {
    border-bottom: solid 1px #eee;
    padding: .75em 1.25em;
    text-align: center;
}

.header_logo {
    display: inline-block;
}

.header_logo_title, .header_logo_name {
    font-weight: 400;
}

.header_tabs {
    display: inline-block;
    font-weight: 600;
}

.header_tabs_tab {
    display: inline;
    margin-left: 2em;
}

.header_tabs_tab_note {
    font-weight: 300;
    margin-left: .5em;
}

.pace_chart {
    width: 100%;
}