<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<a href="/auth/strava">Connect with Strava</a>

<% if (locals.user) { %>
    <pre><%= JSON.stringify(user, null, 2) %></pre>
    <pre><%= JSON.stringify(activities, null, 2) %></pre>
<% } %>

</body>

</html>